* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;
}

.container > .card {
    display: inline-block;
    margin: 20px auto 0;
    width: 40%;
    min-width: 300px;
    text-align: center;
    vertical-align: middle;
}

.card h1 {
    margin-bottom: 50px;
}

.cat-cont {
    width: 100%;
    height: 0;
    overflow-y: hidden;
    padding-bottom: 60%;
}

.cat {
    width: 100%;

}

.counter, .card>p:last-child {
    margin-top: 10px;
}